<!DOCTYPE html>
<html>
<head>
    <title>AXIS | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">

    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09afaa9242.js" crossorigin="anonymous"></script>

 <link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/bgStyle.css'/>
<style>
     
</style>
</head>
<body>
    <nav class="navbar navbar-default no-margin">
        <%- include('../partials/admin/adminNavbar') %>
    </nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li>
                <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-users fa-stack-1x "></i></span> Employees</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                    <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>View Employees</a></li>
                    <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Add Employees</a></li>
                </ul>
            </li>
            
            <li >
                <a href="/admin/leave-applications"> <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-list-ol fa-stack-1x "></i></span>Leave Applications</a>
            </li>
            <li >
                <a href="/admin/applied-leaves"> <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-check fa-stack-1x "></i></span>Applied Leaves</a>
            </li>
            <li>
                    <a href="/admin/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
                </li>
                <li>
                    <a href="/admin/balance-leaves"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-check-circle fa-stack-1x "></i></span>Balance Leaves</a>
                </li>
           
            <li>
            <a href="/admin/add-holiday"><span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-plus fa-stack-1x "></i></span>Add Holiday</a>
                </li>
                <li>
                    <a href="/admin/view-holiday"><span class="fa-stack fa-lg pull-left"><i
                        class="fa fa-umbrella-beach fa-stack-1x"></i></span>View Holidays</a>
                    </li>
                    <li>
                        <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
                    </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Employee Details</h1>
                    <div id="menu1" style="height:717px;overflow: auto;">
                        <form class="form-group-sm" action="/admin/edit-employee/<%= employee._id %>" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" onclick="history.go(-1);" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-default">Save Changes</button>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" onkeypress="return onlyAlphabets(event,this);" class="form-control"
                                       value="<%= employee.name %>" required="required" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address:</label>
                                <input type="email" class="form-control" value="<%= employee.email %>"
                                       required="required" id="email" name="email">
                                <% if(message != ""){ %>
                                <label style="color: red;" id="message"><%= message %></label>

                                <% } %>
                            </div>
                            <div class="form-group">
                                <label for="DOB">Date of Birth:</label>
                                <input type="date" class="form-control"
                                       value="<%= new Date(employee.dateOfBirth).toISOString().substring(0, 10); %>"
                                       required="required" id="DOB" name="DOB">
                            </div>

                            <div class="form-group">
                                <label for="number">Contact Number:</label>
                                <input type="text" pattern="^[\+91]?[7-9][0-9]{9}$"
                                       class="form-control" value="<%= employee.contactNumber %>" required="required"
                                       placeholder="e.g. +91 xxxxxxxxxx" id="number" name="number">
                            </div>
                            <div class="form-group">
                                <label for="designation">Role:</label>
                                <select class="form-control" id="designation" name="designation">
                                    <option value="<%= employee.designation %>"><%= employee.designation %></option>
                                    <% if (employee.designation != "N/A"){ %>
                                    <option value="N/A">N/A</option>
                                    <% } %>
                                    <% if (employee.designation != " Manager"){ %>
                                    <option value=" Manager"> Manager</option>
                                    <% } %>
                                    <% if (employee.designation != "Employee"){ %>
                                    <option value="Employee">Employee</option>
                                    <% } %>
                                </select>

                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script src="/javascripts/bootstrap-select.min.js"></script>
<script language="Javascript" type="text/javascript">

    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else {
                return true;
            }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123 || charCode === 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();

        var box1height = $('#menu1').height();
        // Set box2 height equal to box1
        $('#sidebar-wrapper').height(box1height * 1.2);
        for (i = new Date().getFullYear(); i > 1950; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }

    });
</script>
</body>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to edit the information.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
            </div>
        </div>

    </div>
</div>

 
</html>