<!DOCTYPE html>
<html>
<head>
    <title>AXIS | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09afaa9242.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bgStyle.css'/>
    <link rel='stylesheet' href='/stylesheets/profile.css'/>

<style>
    h4{
        font-size: 22px;
    }
    p{
        font-size: 22px !important;
    }
    #empId{
        text-align: left;
        font-family: 'Roboto', sans-serif;
         font-size: 18px !important;
    }
    .proj{
    background: transparent;
    border: 2px solid black;
    border-radius: 10px !important;
    color: #5c5353 !important;
    text-decoration: none;
    width: 120px;
}
.proj a {

    color: #5c5353;
    text-decoration: none;
}
.pass a{
    margin-right: 0px;
    text-decoration: none;
    padding: 5px;
    color: #5c5353;
}
.pass{
    background: transparent;
    border-radius: 15px;
    height: 40px;
    
}
</style>
</head>
<body>
    <nav class="navbar navbar-default no-margin">
   
        <%- include('../partials/employee/employeeNavbar',{username:username}) %>
    </nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li>
                <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
            </li>
            <li >
                <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
            </li>
            <li >
                <a href="/employee/balance-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check-circle fa-stack-1x "></i></span>Balance Leaves</a>
            </li>
            
            <li>
                <a href="/employee/public-holiday"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-list-ol fa-stack-1x"></i></span>View Holidays</a>
            </li>
            <li class="activeNow">
                <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <div class="wrapper">
        <div class="left">
            <h2 style="text-align: left;"><%= employee.name %></h2>
            <p id="empId">Employee ID:-<%= employee.empId%></p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Personal Information  </h3>
                <div class="info_data">
                     <div class="data" >
                        <h4>Email</h4>
                        <p><%= employee.email %></p>
                     </div>
                     <div class="data" style="margin-left: 50px;">
                       <h4>Phone</h4>
                        <p><%= employee.contactNumber%></p>
                  </div>
                     <div class="data">
                       <h4>Date Of Birth</h4>
                        <p> <%=moment(employee.dateOfBirth).format('MMMM Do YYYY')%></p>
                  </div>
                </div>
            </div>
          
          <div class="projects">
                <h3>Projects</h3>
                <div class="projects_data">
                     <div class="data ">
                        <a href="/employee/view-all-projects" style="text-decoration: none;"><button class="form-control proj"> View Projects</button></a>
                     </div>
                   
                  </div>
                </div>
                <hr>
                
            </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>


<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {
        for (i = new Date().getFullYear(); i > 1900; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
    });
</script>
</body>

</html>
