<!DOCTYPE html>
<html>
<head>
    <title>AXIS | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bgStyle.css'/>

</head>
<body>
<nav class="navbar navbar-default no-margin">
    <%- include('../partials/employee/employeeNavbar') %>
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li>
                <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
            </li>
            <li>
                <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
            </li>
            <li >
                <a href="/employee/balance-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-check-circle fa-stack-1x "></i></span>Balance Leaves</a>
            </li>
            <li>
                <a href="/employee/public-holiday"><span class="fa-stack fa-lg pull-left"><i
                    class="fa fa-list-ol fa-stack-1x"></i></span>View Holidays</a>
                </li>
                <li>
                    <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                    class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
                </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>All Projects</h1>
                    <div style="height:600px; overflow: auto">
                        <% if(hasProject === 1){ %>

                        <table id="example" class="display" cellspacing="0" style="height: 10%; overflow: auto;">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th >Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% projects.forEach(function(item){ %>
                            <tr>
                                <td><%= item.title %></td>
                                <td><%= item.type %></td>
                                <td><%= item.status %></td>
                                <td>
                                    <form method="get" action="/employee/view-project/<%= item.projId %>">
                                        <button style="margin-left: 20px;"><i class="fa fa-eye" title="View Projects Details"
                                                   aria-hidden="true"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %>

                            </tbody>
                        </table>
                        <% }else{ %>
                        <p>You are not associated with any project</p>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>


</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {
        $('#example').dataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": []
        });
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            var title = $(this).text();
            if (title != " ") {
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            }
        });
        for (i = new Date().getFullYear(); i > 1900; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });
</script>
</body>
 

</html>

